/* ==========================
        INTRO
========================== */


.roster-header{

    text-align:center;

    padding-top:160px;

}


.roster-header h1{

    font-size:60px;

    color:#FF7A00;

}



.roster-header p{

    color:#C9CED6;

    font-size:18px;

    margin-top:20px;

}



/* ==========================
        ROSTER
========================== */


.roster{

    max-width:1200px;

    margin:auto;

}



.roster h2{

    text-align:center;

    font-size:42px;

    margin-bottom:50px;

}



/* Liste */

.players{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:35px;

}



/* Carte */

.player-card{

    background:rgba(255,255,255,.04);

    border:1px solid rgba(255,122,0,.2);

    border-radius:20px;

    overflow:hidden;

    transition:.35s;

}



.player-card:hover{

    transform:translateY(-10px);

    box-shadow:

    0 0 40px rgba(255,122,0,.25);

}



/* Images 1672x941 */

.player-card img{

    width:100%;

    aspect-ratio:1672 / 941;

    object-fit:cover;

}



/* Description */

.description{

    padding:25px;

    text-align:center;

}



.description p{

    color:#C9CED6;

    line-height:1.7;

}




@media(max-width:1000px){

    .players{

        grid-template-columns:repeat(2,1fr);

    }

}



@media(max-width:650px){

    .players{

        grid-template-columns:1fr;

    }


    .roster-header h1{

        font-size:42px;

    }

}
