<div class="account">

    <button id="accountButton">

        <img id="accountAvatar"
             src="images/default-avatar.png"
             alt="Avatar">

    </button>


    <div class="account-menu" id="accountMenu">


        <div class="account-info">

            <img id="menuAvatar"
                 src="images/default-avatar.png"
                 alt="Avatar">


            <div>

                <h4 id="accountUsername">
                    Utilisateur
                </h4>

                <p id="accountEmail">
                    -
                </p>

            </div>


        </div>



        <div id="accountLinks">

            <a href="connexion.html" id="loginLink">
                👤 Connexion
            </a>

        </div>


    </div>

</div>
